<div id="content">
    <!-- Begin Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary align-self-center">Donations</h6>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-3 my-2 my-md-0 mw-100 navbar-search" action="#" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for ..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table " id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Fullname</th>   
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>{{reference}}</td>
                                <td>{{donatedTo.fullname}}</td>
                               
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="pagination my-3 d-flex justify-content-center">
        <ul class="justify-content-center">
            {{#if show_previous_arrow}}
            <li><a href="/admin/donation-tables?page={{previous_page}}"><i class="fas fa-chevron-left"></i></a></li>
            {{/if}}

            {{#if show_previous_page}}
            <li><a href="/admin/donation-tables?page={{previous_page}}">{{previous_page}}</a></li>
            {{/if}}

            <li class="active"><a href="/admin/donation-tables?page={{current_page}}">{{current_page}}</a></li>

            {{#if is_there_next_page}}
            <li class="text-black"><a href="/admin/donation-tables?page={{next_page}}">{{next_page}}</a></li>
            {{/if}}

            {{#if show_last_page}}
            <li><a href="/admin/donation-tables?page={{total_page}}" style="font-weight:800">{{total_page}}</a></li>

            {{/if}}

            {{#if show_next_arrow}}
            <li><a href="/admin/donation-tables?page={{next_page}}"><i class="fas fa-chevron-right"></i> </a></li>
            {{/if}}



        </ul>
    </div>

</div>

<!--jquery script-->
<script src="/js/jquery-3.5.1.js"></script>
