<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About Us</h2>
                <p>DD-Foundation is not an NGO, its's a community of people inspired to make change and improve iur society for the better. Mama Cecelia ogunmola Daudu stood for this cause and we have decided that her demise should catalyze us to grow a society that has a large impact in community building.<br/> We are a community
                 for change, a community for to catalyze growth, a community that understands the impact of "<strong>WE THE PEOPLE</strong>". </p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        DD-Foundation are in our early days
                        Our Focus, which will guide all activities, events and efforts made to reach out to children who are in need of our assistance. Our focus are:
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Providing an above average level of education for the substantial youth of today.</li>
                        <li><i class="ri-check-double-line"></i>Providing adequate healthcare and resources for these youths to achieve their dreams.</li>
                        <li><i class="ri-check-double-line"></i> Access to resources (financially and stationaries) for Education</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We are commited as a community and a family, with the partnership from other institute, both international and local, friends and relations
                        to combat the challenges that children especially(females) accross Nigeria face and to provide a sustainable solution to addressing issues influencing the lives of kids in Nigeria and Africa .
                    </p>
                    <a href="/our-story" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Us Section -->
    <!-- ======= cra (category to help) Section ======= -->
    <section id="cra" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Support Our Cause</h2>
                <p>
                    To make the World, our Continent and Country we as a people must awake and address issues affecting the next generation. There is no peeny or resource that cannot save a life or alter the destiny of children.
                    Our legacy is only defined in t he number of lives that we have influenced, while on earth.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box col-12">
                        <div class="icon"><i class='bx bxs-dollar-circle'></i></div>
                        <h4><a href="/#donation">DONATE NOW</a></h4>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="/#donation" >SUPPORT A CHILD'S EDUCATION</a></h4>
                        <p><strong> is the light of today, which illuminates the path which a society will thread upon, climbing the heights to attain greatness. </strong></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bxs-heart'></i></div>
                        <h4><a href="/#donation">SAVE A CHILD</a></h4>
                        <p><strong> Let's make the life of every child count, as the future counts on each and everyone of them </strong></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Call to action (cta) Section ======= -->
    <section id="cta" class="cta">
        <div class="container ">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <p>Support Our Cause</p>
                    <h3 style="text-align:justify; font-weight:bolder; text-transform:uppercase; letter-spacing:0.3rem; word-spacing:0.3rem;"> No one has ever become poor by giving</h3>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="https://paystack.com/pay/ddfoundationdonationform">Call To Action</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->
    
    <!-- =======DonationSection ======= -->
    <section id="donation" class="portfolio">
        <div class="container">
            <div class="section-title">
                <h2>HOW CAN YOU HELP ?</h2>
                <p>
                    There are millions of children suffering from famine, lack of health nutriction, no access to education and no access to the basic life amenties needed for their growth.
                    These children are spread all over Nigeria, some might even be in front of your doorstep. Today you can decided to change the direction of the clock for these children, creating hope that there tomorrow can be of a glorious purpose.

                </p>
            </div>

            {{#if isList }}
            <div class="row">
                {{#each list}}
                <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
                    <div class="p-0 card card-lg bg-white border-1 border-light">
                        <img src="{{imageFile}}" style="height:500px; max-height:700px" class="card-img-top image-responsice" />

                        <div class="card-body p-3">
                            <div class="d-flex flex-row justify-content-between ">
                                <h5 class="card-title align-self-center" style="text-transform:uppercase; color:#009961; font-weight:800">{{fullname}}</h5>
   
                                <div class="border border-1 card-shadow-5">
                                    <h5 class="p-2" style="color:#009961">{{amount}}</h5>
                                </div>
                            </div>

                            <p class="" style="color:gray; font-weight:800">{{mobileNumber}}</p>

                            <div class="card-text d-flex row justify-content-center">
                                <div class="p-3">
                                    {{content}}
                                </div>
                            </div>

                            <div class="py-3">
                                <div class="">
                                    <a href="/donation/{{id}}" class="btn btn-lg btn-outline-success d-block">Donate</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
            
            <!-- the link to donation page-->
            <div class="d-flex justify-content-end mt-4">
                <a href="/donations" class="" style="color:#009961; font-weight:800; text-transform:uppercase;">More <i class="fas fa-chevron-right"></i> </a>
            </div>

            {{/if}}
        </div>
    </section>
    <!-- End donation Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
        </div>

        <div>
            <!--iframe style="border:0; width: 100%; height: 350px;" src="https://goo.gl/maps/jTwhT9W2zzLhmtNv8" allowfullscreen frameborder="0" loading="lazy"></iframe--->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62641.455229860774!2d7.655914489764685!3d11.10659915145452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x11b2834113229945%3A0x9aa0005bd6764276!2sZaria!5e0!3m2!1sen!2sng!4v1624104730516!5m2!1sen!2sng" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="container">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="ri-map-pin-line"></i>
                            <h4>Location:</h4>
                            <p>Ahamdu Bello University</p>
                        </div>

                        <div class="email">
                            <i class="ri-mail-line"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="ri-phone-line"></i>
                            <h4>Call:</h4>
                            <p>+234 706 333 0321</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->